img {
  width: 250px;
  border-radius: 7px;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.carbuttons {
  display: flex;
  justify-content: space-around;
  background-color: rgb(149, 143, 143);
  padding: 15px;
  border-radius: 7px;
}
